<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=67.192.47.60\ACC;database=MSDCMS;Integrated Security=FALSE;user=MSDCMS;pwd=m*n0l1th;" />
    <add name="ACC_ApplicationGuideConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=67.192.47.60\ACC;Initial Catalog=ACC_ApplicationGuide;Persist Security Info=True;User ID=IUSR_ACC;Password=Accacc1" />
    <add name="ACC_ApplicationGuideConnectionStringStaging" providerName="System.Data.SqlClient" connectionString="Data Source=67.192.47.60\ACC;Initial Catalog=ACC_ApplicationGuideStaging;Persist Security Info=True;User ID=IUSR_ACC;Password=Accacc1" />
  </connectionStrings>

</configuration>
